## Gather data and import necessary libraries

In [107]:
#import libraries and datasets
!pip install kaggle
!pip install pandas
import kaggle
!kaggle datasets download ankitbansal06/rehandl23/fifa-24-player-stats-dataset.csv

Requirement already satisfied: kaggle in /opt/anaconda3/lib/python3.12/site-packages (1.7.4.2)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (2025.1.31)
Requirement already satisfied: charset-normalizer in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (3.3.2)
Requirement already satisfied: idna in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (3.7)
Requirement already satisfied: protobuf in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (4.25.3)
Requirement already satisfied: python-dateutil>=2.5.3 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (75.1.0)
Requirement already satisfied: six>=1.10 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (4.66.5)
Requirement already satisfied: urllib3>=1.15.1 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (2.2.3)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (0.5.1)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from bleach->kaggle) (24.1)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/sthephanychugden/.kaggle/kaggle.json'
403 Client Error: Forbidden for url: https://www.kaggle.com/api/v1/datasets/metadata/ankitbansal06/rehandl23

In [27]:
#read data from file 
import pandas as pd

#Reading with ISO-8859-1 encoding
df = pd.read_csv('/Users/sthephanychugden/Downloads/player_stats.csv', encoding='ISO-8859-1')
df.head()

,player,country,height,weight,age,club,ball_control,dribbling,marking,slide_tackle,...,curve,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,value
0,Cristian Castro Devenish,Colombia,192,84,22,Atl. Nacional,55,43,NaN,68,...,32,34,41,33,10,11,6,7,9,$1.400.000
1,Silaldo Taffarel,Brazil,181,80,31,Corinthians,69,70,NaN,56,...,65,62,48,46,12,15,14,8,14,$975.00
2,Thomas DÃ¤hne,Germany,193,84,29,Holstein Kiel,25,12,NaN,13,...,20,15,26,16,64,74,65,68,74,$1.100.000
3,Michael Sollbauer,Austria,187,86,33,SK Rapid Wien,46,48,NaN,66,...,25,13,22,19,10,10,8,14,9,$650.00
4,Diego Segovia,Uruguay,191,80,23,Independiente,14,8,NaN,14,...,9,10,16,5,61,59,62,64,64,$300.00

## Explore data

In [21]:
df.dtypes

player             object
country            object
height              int64
weight              int64
age                 int64
club               object
ball_control        int64
dribbling           int64
marking           float64
slide_tackle        int64
stand_tackle        int64
aggression          int64
reactions           int64
att_position        int64
interceptions       int64
vision              int64
composure           int64
crossing            int64
short_pass          int64
long_pass           int64
acceleration        int64
stamina             int64
strength            int64
balance             int64
sprint_speed        int64
agility             int64
jumping             int64
heading             int64
shot_power          int64
finishing           int64
long_shots          int64
curve               int64
fk_acc              int64
penalties           int64
volleys             int64
gk_positioning      int64
gk_diving           int64
gk_handling         int64
gk_kicking          int64
gk_reflexes         int64
value              object
dtype: object

### Look for null values

In [33]:
df.isnull().sum() #Checking for null values

player               0
country              0
height               0
weight               0
age                  0
club                 0
ball_control         0
dribbling            0
marking           5682
slide_tackle         0
stand_tackle         0
aggression           0
reactions            0
att_position         0
interceptions        0
vision               0
composure            0
crossing             0
short_pass           0
long_pass            0
acceleration         0
stamina              0
strength             0
balance              0
sprint_speed         0
agility              0
jumping              0
heading              0
shot_power           0
finishing            0
long_shots           0
curve                0
fk_acc               0
penalties            0
volleys              0
gk_positioning       0
gk_diving            0
gk_handling          0
gk_kicking           0
gk_reflexes          0
value                0
dtype: int64

### Change data types

In [53]:
df['height'] = df['height'].astype('float')
df['weight'] = df['weight'].astype('float')

In [39]:
df.dtypes

player             object
country            object
height            float64
weight            float64
age                 int64
club               object
ball_control        int64
dribbling           int64
marking           float64
slide_tackle        int64
stand_tackle        int64
aggression          int64
reactions           int64
att_position        int64
interceptions       int64
vision              int64
composure           int64
crossing            int64
short_pass          int64
long_pass           int64
acceleration        int64
stamina             int64
strength            int64
balance             int64
sprint_speed        int64
agility             int64
jumping             int64
heading             int64
shot_power          int64
finishing           int64
long_shots          int64
curve               int64
fk_acc              int64
penalties           int64
volleys             int64
gk_positioning      int64
gk_diving           int64
gk_handling         int64
gk_kicking          int64
gk_reflexes         int64
value              object
dtype: object

### Removing columns

In [49]:
# Remove a single column by name(column is null therefore its not necessary) 
df = df.drop('marking', axis=1)

In [43]:
df.dtypes

player             object
country            object
height            float64
weight            float64
age                 int64
club               object
ball_control        int64
dribbling           int64
slide_tackle        int64
stand_tackle        int64
aggression          int64
reactions           int64
att_position        int64
interceptions       int64
vision              int64
composure           int64
crossing            int64
short_pass          int64
long_pass           int64
acceleration        int64
stamina             int64
strength            int64
balance             int64
sprint_speed        int64
agility             int64
jumping             int64
heading             int64
shot_power          int64
finishing           int64
long_shots          int64
curve               int64
fk_acc              int64
penalties           int64
volleys             int64
gk_positioning      int64
gk_diving           int64
gk_handling         int64
gk_kicking          int64
gk_reflexes         int64
value              object
dtype: object

### Changing a data type that has special characters

In [ ]:
#Values should be numerical but becasue of the $ and , pandas is treating it as a value:

# Step 1: Remove the dollar sign
df['value'] = df['value'].replace({r'\$': ''}, regex=True)

# Step 2: Replace periods with commas (thousands separators)
df['value'] = df['value'].replace({r'\.': ','}, regex=True)

# Step 3: Convert the result to a numeric value by removing commas and converting to float
df['value'] = pd.to_numeric(df['value'].replace({',': ''}, regex=True), errors='coerce')

In [67]:
df.dtypes

player             object
country            object
height            float64
weight            float64
age                 int64
club               object
ball_control        int64
dribbling           int64
slide_tackle        int64
stand_tackle        int64
aggression          int64
reactions           int64
att_position        int64
interceptions       int64
vision              int64
composure           int64
crossing            int64
short_pass          int64
long_pass           int64
acceleration        int64
stamina             int64
strength            int64
balance             int64
sprint_speed        int64
agility             int64
jumping             int64
heading             int64
shot_power          int64
finishing           int64
long_shots          int64
curve               int64
fk_acc              int64
penalties           int64
volleys             int64
gk_positioning      int64
gk_diving           int64
gk_handling         int64
gk_kicking          int64
gk_reflexes         int64
value             float64
dtype: object

In [69]:
df.head()

,player,country,height,weight,age,club,ball_control,dribbling,slide_tackle,stand_tackle,...,curve,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,value
0,Cristian Castro Devenish,Colombia,192.0,84.0,22,Atl. Nacional,55,43,68,73,...,32,34,41,33,10,11,6,7,9,1400000.0
1,Silaldo Taffarel,Brazil,181.0,80.0,31,Corinthians,69,70,56,58,...,65,62,48,46,12,15,14,8,14,97500.0
2,Thomas DÃ¤hne,Germany,193.0,84.0,29,Holstein Kiel,25,12,13,16,...,20,15,26,16,64,74,65,68,74,1100000.0
3,Michael Sollbauer,Austria,187.0,86.0,33,SK Rapid Wien,46,48,66,69,...,25,13,22,19,10,10,8,14,9,65000.0
4,Diego Segovia,Uruguay,191.0,80.0,23,Independiente,14,8,14,16,...,9,10,16,5,61,59,62,64,64,30000.0

In [87]:
print(df.shape)

(5682, 40)

### Look for duplicates and remove

In [93]:
#look for duplicates
df.duplicated().sum()

3

In [97]:
#Look at duplicates 
df[df.duplicated()]

,player,country,height,weight,age,club,ball_control,dribbling,slide_tackle,stand_tackle,...,curve,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,value
158,Maxime CrÃ©peau,Canada,180.0,88.0,29,LAFC,45,19,17,17,...,16,14,23,19,70,72,70,70,75,2200000.0
159,Stefan Thesker,Germany,190.0,84.0,32,Holstein Kiel,55,45,64,70,...,33,31,42,40,14,13,7,10,12,70000.0
160,Cameron John,England,181.0,78.0,24,Rochdale,55,53,57,60,...,34,25,32,28,8,13,9,7,8,35000.0

In [99]:
#Remove duplicates
df = df.drop_duplicates()

In [103]:
#Verify duplicates have been removed
df.duplicated().sum()

0